<%= form_with(model: book) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% book.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="form">
  <div>
    <%= form.label :book_cover ,class:"label-small-input" %>
    <%= form.file_field :book_cover ,class:"input-small" %>
    <p class="helper">Select a book cover</p>
  </div>

  <div>
    <%= form.label :title ,class:"label-small-input"%>
    <%= form.text_field :title ,class:"input-small"%>
  </div>

  <div>
    <%= form.label :content ,class:"label-small-input"%>
    <%= form.text_area :content ,class:"input-small"%>
  </div>

  <div>
    <%= form.label :publish_date ,class:"label-small-input"%>
    <%= form.text_field :publish_date, class:"datepicker input-small"%>
  </div>

    <div class="field">
    <%= form.label :ISBN ,class:"label-small-input"%>
    <%= form.text_field :isbn ,class:"input-small"%>
  </div>

  <div class="form-buttons">
    <div class="botton">
      <%= button_tag 'Submit', type: 'submit', class: "button-form inline" %>
    </div>
    <%= link_to 'Back', books_path, class: "button-form inline" %>
  </div>
</div>
<% end %>
