<p id="notice"><%= notice %></p>
<div class="show-contain">
  
  <ul class="show-field">
    <li>
      <strong>Title:</strong>
      <%= @book.title %>
  </li>

    <li>
      <strong>Content:</strong>
      <%= @book.content %>
    </li>

    <li>
      <strong>Publish date:</strong>
      <%= @book.publish_date %>
    </li>

    <li>
      <strong>ISBN:</strong>
      <%= @book.isbn %>
    </li>
  </ul>

  <div class="show-pic">
    <% if @book.book_cover.attached?%>
      <%= link_to image_tag(@book.book_image(800))%>
    <% else %>
      <%= image_tag 'default-image.jpg' %>
    <% end %>
  </div>
</div>

<div class="buttons">
<%= button_to 'Edit', edit_book_path(@book), method: :get, class: "button", form: {class: "inline"} %>
<%= button_to 'Destroy', @book, method: :delete, data: { confirm: 'Are you sure?' }, class: "button", form: {class: "inline"} %>
<%= button_to 'Back', books_path, method: :get, class: "button", form: {class: "inline"} %>
</div>