<p id="notice"><%= notice %></p>
<p>
  <strong>Picture</strong>
  <% if @book.book_cover.attached?%>
    <%= link_to image_tag(@book.book_image(500))%>
  <% else %>
    <i class="fa-solid fa-book fa-2xl"></i>
  <% end %>
</p>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @book.content %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @book.publish_date %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
